body {
    background-color: rgb(22, 22, 22);
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.form-div {
    display: flex;
    justify-content: center;
}

input,
button {
    border-radius: 6px;
    padding: 1rem
}

button{
    color: white;
    background-color: rgb(255, 60, 0);
}
.search-input{
    margin-left: 1rem;
}
.search-button{
    color: white;
    background-color: rgb(59, 59, 59);
}